#background{
background: url(ornament.jpg);
}
#Shapkasaita{
	border: 1px solid black;
	background:#fff129;
	text-align:left;
	font:courier 39px/48px sans-serif;
	height: 27mm;
	line-height: 100px;
	max-height: 200px;
}
*{
	margin:auto;
	padding:0;
	outline:none;
}

#main {
    border: 1px solid black;
    background: #00e6ff;
    text-align: left;
    font: bold italic 110% serif;
}

#links{
	border: 1px solid black;
	margin: 0 auto;
	background: #00e6ff;
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 60px;
}

#forma{
	border: 1px solid black;
	margin: 0 auto;
	background: #00e6ff;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 30px;
	padding-left: 60px;
}

#foot{
	border: 1px solid black;
    background:#fff129;
    text-align: left;
    font: normal small-caps 32px/40px fantasy;
    height: auto ;
    line-height: 100px;
    max-height: 200px;
}


#vip{
  width: 300px;
  border: 1px solid #00e6ff;
  border-collapse: collapse;
  border-spacing: 0;
  text-align:center;
  margin: auto;
  }
  
  #vip th{
  background: #e0f7ff;
  color: white;
  padding: 4px;
  }
  #vip td{
   border-bottom: 1px solid black;
   padding: 4px;
   }
   
#caption{
    caption-side: top;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	background:#fff129;
	}
	
tr:nth-child(even){
	background: #ff6952;
	}
	
tr:nth-child(odd){
	background: #ffbb00;
	}

.flex {
    display: flex;
    flex-direction: column;
}
	
.links, .vip, .form {
    justify-content: center;
}

.links {
    order: 0;
}

.table {
    order: 2;
}

.form {
    order: 1;
}

.navigatorinflex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.item4 {
    order: -5;
}

.item5 {
    order: -4;
}	

@media (min-width: 991.98px) {
    #links{
        max-width: 600px;
    }

    #main{
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        word-spacing: 30px;
        word-wrap: inherit;
    }

    #forma{
        max-width: 600px;
    }

    .navigatorinflex{ 
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .table {
        order: 1;
    }

    .form {
        order: 2;
    }
}   
  
  